{% extends "App1/padre.html" %}
{% load static %}
{% block contenidoQueCambia %}

<div class="container">
    <h1>About Me</h1>
    <p>
      Bienvenido a mi blog!. Soy Maximiliano Leonel Sorin, un futuro programador argentino. Actualmente, estoy estudiando en la UBA como ingeniero en informatica.
    </p>
    <p>
      Este blog seria mi trabajo final para el curso de Python de Coderhouse, y la idea seria que sea un blog personal de un tipo, Juan Manuel, que esta muy interesado en la inteligencia artificial
    </p>
    <p>
      Hice este trabajo solo, aunque tuve que pedir la ayuda de google para ciertas cosas que se me dificultaron hacer. Espero que les guste lo que van a ver :D!
    </p>
    <p>
      Maximiliano Leonel Sorin
    </p>
  </div>
{% endblock %}