{% extends "App1/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Blogs</h1>
    <ul>
        {% for blog in object_list %}
            <li>
                <p><strong>{{blog.titulo }}</strong> {{blog.fecha}}</p>
                <p><em>{{blog.subtitulo}}</em></p>
                <p>Autor: {{blog.autor}}</p>
                <p>
                    <a href="{% url 'DetalleBlog' blog.pk %}">Leer más</a>
                    <a href="{% url 'EditarBlog' blog.pk %}">Editar</a>
                    <a href="{% url 'EliminarBlog' blog.pk %}">Borrar</a>
                </p>
            </li>
        {% endfor %}
        <br> <br>
        <h3><p><a href="{% url 'crear_blog' %}">Añadir blog</a></p></h3>
    </ul>
    
</body>
</html>
{% endblock %}